header {
    background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
    background-size: contain;
    width: 210%;
    height: 350px;
    display:block;
    position:relative;
    background-repeat:no-repeat;
    margin-left:auto;
    margin-right:auto;
    padding:0;
  }
  
  
  ul{
    margin-top: 20px;
  }
  